
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageProductOwner.cshtml";
}

<h2>Index</h2>

<div class="jumbotron">
    <h3>Hello, Sir</h3>
    <p class="lead">Welcome To Panel .</p>
</div>

<div >
    <input type="hidden" value="@ViewBag.Id" id="mainid" class="abc" />
    <input type="hidden"  id="ProductId" class="ProductId" />
    <div class="container-fluid"  >
        <div data-ng-view="" class="ng-scope">
        </div>
    </div>
</div>




  



  


