
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_LayoutPageProductOwner.cshtml";
}

<div>
    <div class="container-fluid">
        <div data-ng-view="" class="ng-scope">
        </div>
    </div>
</div>

