<h3> Product List</h3>

<div data-ng-app data-ng-controller="EndUserController" class="container" ng-init="GetallProductsList()">
    <table class="table table-bordered table-hover" style="width:800px">
        <tr>
            <th>#</th>
            <th>Company</th>
            <th>Product Name</th>
            <th>Status</th>
        </tr>

        <tr data-ng-repeat="items in ProductList">
            <td><strong>{{ items.Id }}</strong></td>
            <td>
                <p>{{ items.CompanyName }}</p>
            </td>
            <td>
                <p>{{ items.ProductName }}</p>
            </td>
            
            <td>
                    <p>  <a ng-show ="items.Flag == false" data-ng-click="FollowProducts(items)" href="" class="btn btn-success">Follow  </a> </p>
                    <p>  <a ng-show="items.Flag == true" data-ng-click=" UnFollowProducts(items)" href="" class="btn btn-danger">UnFollow</a>  </p>
            </td>

        </tr>
    </table>
</div>