
@{
    ViewBag.Title = "AlreadyRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Already Register</h2>
<p>You have already register with this Email Id.Please Register as New Product Owner.Click Below Link <br/>New Product Owner
@Html.ActionLink("Register", "Register", "Account")
</p>

