
@{
    ViewBag.Title = "Confirm Registration";
    @*Layout = "~/Views/Shared/_Layout.cshtml";*@
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Thank you For Registraion.Please Check Your Mail ID:@ViewBag.EmailId.
         <br /> @Html.ActionLink("Ok ", "Index", "Home")
    </p>
</div>

