@model MyFollow.Models.Products

@{
    ViewBag.Title = "ViewPages";
    Layout = "~/Views/Shared/_LayoutPageEndUser.cshtml";
}

<div>
    <div>
        <div data-ng-view="">
        </div>
    </div>
</div>

