<h3> Product List</h3>

<div data-ng-app data-ng-controller="ProductController" class="container" ng-init="GetallProducts()">
   
    <table class="table table-bordered table-hover" style="width:100%">
        <tr>
            <th>#</th>
            <th>Product Name</th>
            <th>Introduction</th>
            <th>Details</th>
            <th></th>
        </tr>

        <tr data-ng-repeat="items in ProductList">
            <td><strong>{{ items.Id }}</strong></td>
            <td>
                <p>{{ items.ProductName }}</p>
            </td>
            <td>
                <p>{{ items.Introduction }}</p>
            </td>
            <td>
                <p>{{ items.Details }}</p>
            </td>
            <td>
                <p><a href="#/EditProduct/{{items.ProductId}}" >Edit</a> |<a href="#/ViewProduct/{{items.ProductId}}">View</a> | <a data-ng-click="deleteProduct()" href="#/DeleteProduct/{{items.ProductId}}">Delete</a></p>
            </td>

        </tr>
    </table>
</div>