@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<h2>ViewOwner</h2>
<div class="row" data-ng-app data-ng-controller="ProductOwnerController">
    <div data-ng-view="" class="ng-scope">

    </div>

</div>

